body{
	font-family: 'Noto Sans TC', sans-serif;
	color:#868E96
	font-weight:normal;

}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
	text-transform:none;
	color:black
}

.subheading{
	text-transform:none;
	font-family: 'Noto Sans TC', sans-serif;
}

#about{
	line-height:3.5rem
}

interest, .skill{
	font-size:25px
}

a{
	color:#625b57
}

a:active,a:focus,a:hover{
	color:#404040
}

.text-primary{
	color:#003366 !important
}

.bg-primary{
	background-color:#F75000 !important
}

.social-icons a:hover{
	background-color:#F75000
}