body{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	color: #696969;
}

section.resume-section{
	background-color: #a3a3a3 !important;
	background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}

a.{
    font-size: 18px !important
}

div.address{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	color: #191970;
}

span.introduce, div.card-text{
	font-size: 13pt;
	color: #212226
}

span.chinese, p.interests{
	color:#212226
}

span.engname{
	font-family: 'Noto Sans TC', sans-serif;
    font-size: 52pt;
    text-transform: capitalize;
    color: #ffc !important;
}

h1.h1{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 72px;
	font-weight: 600;
	line-height: 5rem;
	text-transform: none;
	color: #282726
}

.engname{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 58pt;
	text-transform: capitalize;
    color: #689550 !important
}

h2.h2{
	font-family: 'Noto Serif TC', serif;
	font-size: 36pt;
	text-transform: none;
	color: #8B4513
}

h3.h3,h3.card-title mb-0{
	font-family: 'Noto Serif TC', sans-serif ;
	font-size: 18pt;
	text-transform: capitalize;
	line-height: 1.5;
	color: #270101 !important
}

div.experience{
	background-color:white;
	border:3px;
	border-style:outset;
	border-color:#c28e0e;
	max-width:300px;
	max-height:300px;
	text-align:center;
	float:center;
	margin:0px auto;
	padding:3px 5px
}

p.intime{
	font-family: 'Noto Serif TC', sans-serif;
	font-size: 16pt;
	line-height: 2rem;
	color:#009999
}

.subheading{
	text-transform: none;
	font-family: 'Noto Sans TC', sans-serif;
}

#about{
	line-height: 2rem
}

a{
	color:#625b57
}

a:active,a:focus,a:hover{
	color: #404040
}

.text-primary{
	font-size: 14pt;
	color: #003366 !important
}

.bg-primary{
    background-image: url("purty-wood.png") ;
	background-color:#3b5998 !important
}

.social-icons a:hover{
	background-color: #F75000
}

 a:link{
	color: #0a6000
 }
 a:visisted{
	 color: #FF7F50
 }
 a:hover{
	 color:#b8860b
 }
 a:active{
	 color:#404040
 }
 
 ul.interests-icon, ul.skills-icon{
	 font-size: 2rem ;
	 padding-left: 0
 }

.card-header:first-child{
	background-color: #f1f3f2;
	text-align: center
}

.card-body{
	padding: 1rem 1.25 ;
	text-align: center
}

img.card-img-top{
	width: 250pt ;
	height: 200pt ;
}

div.col-md-4{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align:center
}
