body{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 14px;
	color:#696969	
}

.text-primary{
	color:#003366 !important
}

h1{
	font-family: 'Noto Serif TC', serif;
	text-transform:none;
	color:#282726
}

h2,h3,h4,h5,h6{
	font-family: 'Noto Serif TC', serif;
	text-transform:none;
	color:#ba8959
}

.subheading{
	text-transform:none;
	font-family: 'Noto Sans TC', sans-serif;
}

#about{
	line-height:2rem
}

interest, .skill{
	font-size:25px
}

a{
	color:#625b57
}

a:active,a:focus,a:hover{
	color:#404040
}

.bg-primary{
	background-color:#F75000 !important ;
        background-image: url("black-felt.png") ;
}

.social-icons a:hover{
	background-color:#F75000
}
